<!-- contains a partial for an individual blog page -->

<h1>
  <%= post['title'] %>
</h1>
<form action="/blog" method="put">
  Content:<br>
<textarea name="content" value="<%- post['content'] || "" %>" required></textarea><br>
<div>
<input type="submit" value="Update"/><br><br><hr>
</div>		
</form>
<p>
  <%= post['created_at'] %>
</p>

<!-- Update the content to the layout  - see EJS Layouts -->
<%- contentFor('content') %>
<%= post['content'] %>
