<!-- contains a partial for an individual blog page -->

<h1><%= post['title'] %></h1>
<p>
  <%= post['content'] %>
</p>
<p>
  <%= post['created_at'] %>
</p>
<a href="/blog/<%= post['slug']%>/update"><h3>Update</h3></a>
<hr>
<form action="/blog/<%= post['slug']%>" method="delete">
  <div>
   <input type="submit" value="Delete" /><br><br>
 </div>
</form>
<!-- Adds the title to the layout  - see EJS Layouts -->
<%- contentFor('title') %>
<%= post['title'] %>
